@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(7, 18, 136);
}

p {
    text-align: justify;
}

.no-style-link {
    text-decoration: none;
}

.rol {
    color: rgb(82, 82, 82);
}

.porfile-picture {
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 1rem;
}

.name {
    margin: 1rem 0 0 0;
}

.about-svg-container {
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.about-svg-container a {
    margin: 0 8px;
}

.about-svg {
    width: 2.5rem;
    height: auto;
}

.slider-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.slider {
    width: 100%;
    max-width: 80%;
    overflow: hidden;
    margin: 0;
}

.slider-track {
    display: flex;
    width: fit-content;
    animation: scroll 20s linear infinite;
}

.slider-track label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    width: auto;
}

.skills-svg {
    width: auto;
    height: 125px;
    margin-bottom: 1rem;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.pcon {
    display: flex;
    justify-content: center;
}

.project {
    border-radius: 1rem;
    overflow: hidden;
    width: 90%;
    transition: transform 0.5s ease;
}

.pi {
    position: relative;
    background: rgb(7, 18, 136);
    aspect-ratio: 16/9;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.pi::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    backdrop-filter: blur(6px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.pi.pi-on::after {
    opacity: 1;
}

.pi a {
    position: relative;
    z-index: 2;
}

#project-1 {
    background-image: url(../multimedia_files/img-demo-password-generator.jpg);
}

.project-svg {
    width: 3rem;
    height: auto;
    margin: 0 1rem;
}

.pt {
    padding: 0 0.5rem;
}

.svg-space {
    width: 0.75rem;
    height: 100%;
}

.sm-container {
    padding: 0 2rem;
}

.sm-container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.co-container {
    padding: 0 2rem;
}

.co-svg {
    width: 20px;
    height: auto;
}

.co-container ul {
    padding: 0;
}

.li-element-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.co-container ul li {
    list-style: none;
    padding: 0;
    display: inline;
    margin-left: 1rem;
}

.black-color {
    color: rgb(0, 0, 0);
}

.pm-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    text-align: center;
}

.monogram {
    width: 50px;
    height: auto;
}

.name2 {
    margin-bottom: 0.25rem;
}

.sm-svg {
    width: 2.5rem;
    height: auto;
}

.ft-container {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(230, 230, 230);
}

.final-text {
    font-size: 12px;
}

.project.visible {
    border: solid 1px rgb(230, 230, 230);
    transform: scale(1.02);
}